
@import '../../scss/vars.scss';
@import '../../scss/mixins.scss';

//
// dashboard main positioning
//
.dashboard {
  position: fixed;
  z-index: 7777;
  left: 0;
  right: 0;
  height: 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  &.bottom {
    bottom: 0;
  }

  &.top {
    top: 0;
  }

  & > .left,
  & > .right {
    position: absolute;
    width: 50%;
    height: 100%;
  }

  & > .right {
    left: 50%;
  }
}

//
// dashboard animate on show
//
.dashboard {

  &.top > .left,
  &.top > .right,
  &.bottom > .left,
  &.bottom > .right {
    @include transition(transform $dashboardTimeShowDuration cubic-bezier(.44,.09,.06,1));
  }

  &.top {

    > .left {
      transform: translate(-40px, -40px);
    }

    > .right {
      transform: translate(40px, -40px);
    }
  }

  &.bottom {

    > .left {
      transform: translate(-40px, 40px);
    }

    > .right {
      transform: translate(40px, 40px);
    }
  }
}

.dashboard.show {

  &.top > .left,
  &.top > .right,
  &.bottom > .left,
  &.bottom > .right {
    transform: translate(0, 0)!important;
  }
}

//
// dashboard colors
//
.dashboard {

  .bg,
  .inner,
  .dashboard-item,
  .dashboard-item a {
    @include ease-in-out($dashboardTimeTransition);
  }

  &.light-theme {
    color: $themeLightColorFg;

    .dashboard-item {
      color: $themeLightColorFg;
    }

    .bg {
      background-color: $themeLightColorBg;
    }
  }

  &.transparent-theme {
    color: $themeTransColorFg;

    .dashboard-item {
      color: $themeTransColorFg;
    }

    .bg {
      background-color: $themeTransColorBg;
    }
  }

  &.dark-theme {
    color: $themeDarkColorFg;
    text-shadow: none;

    .dashboard-item {
      color: $themeDarkColorFg;
    }

    .bg {
      background-color: $themeDarkColorBg;
    }
  }

  &.blue-theme {
    color: $themeBlueColorFg;
    text-shadow: 0 0 3px $themeBlueColorFgShadow;

    .dashboard-item {
      color: $themeBlueColorFg;
    }

    .bg {
      background-color: $themeBlueColorBg;
    }
  }

  &.red-theme {
    color: $themeRedColorFg;
    text-shadow: 0 0 3px $themeRedColorFgShadow;

    .dashboard-item {
      color: $themeRedColorFg;
    }

    .bg {
      background-color: $themeRedColorBg;
    }

  }
}

@mixin dashboard-diagonal($r, $tX, $tY, $sX) {
  @include prefix((transform: rotate($r) translateX($tX) translateY($tY) skewX($sX)), webkit moz ms o)
}

//
// dashboard inner positioning
//
.dashboard {

  ul {
    line-height: 40px;
    color: inherit;
  }

  .inner {
    position: relative;
    height: 100%;
    color: inherit;
  }

  > .left > .inner {
    margin-right: 140px;

    @include prefix((border-top-right-radius: 2px), webkit moz);
  }

  > .right > .inner {
    margin-left: 140px;

    @include prefix((border-top-right-radius: 2px), webkit moz);
  }

  &.top > .left > .inner {
    @include prefix((border-top-right-radius: 0), webkit moz);
    @include prefix((border-bottom-right-radius: 2px), webkit moz);
  }

  &.top > .right > .inner {
    @include prefix((border-top-left-radius: 0), webkit moz);
    @include prefix((border-bottom-left-radius: 2px), webkit moz);
  }

  .diagonal {
    position: absolute;
    display: inline-block;
    top: 0;
    height: 100%;
    width: 60px;
    background: rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  > .left .diagonal {
    left: 100%;

    @include prefix((border-top-left-radius: 1px), webkit moz);
    @include dashboard-diagonal(45deg, 13.5px, 26px, 45deg);
  }

  > .right .diagonal {
    right: 100%;

    @include prefix((border-top-right-radius: 1px), webkit moz);
    @include dashboard-diagonal(-45deg, -13.5px, 26px, -45deg);
  }

  &.top > .left .diagonal {
    @include prefix((border-top-left-radius: 0), webkit moz);
    @include prefix((border-bottom-left-radius: 1px), webkit moz);
    @include dashboard-diagonal(-45deg, 13.5px, -26px, -45deg);
  }

  &.top > .right .diagonal {
    @include prefix((border-top-right-radius: 0), webkit moz);
    @include prefix((border-bottom-right-radius: 1px), webkit moz);
    @include dashboard-diagonal(45deg, -13.5px, -26px, 45deg);
  }
}

//
// dashboard menu / items
//
.dashboard {

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  li > span,
  li > a {
    display: inline-block;
    padding: 0 10px;
    margin-left: 1px;

    @include ease-in-out(0.2s);
  }

  li > a {
    text-shadow: none;
    cursor: pointer;
  }

  li > a.warp {
    background-color: $themeRedColorBg!important;

    @include hover() {
      background-color: lighten($themeRedColorBg, 20%)!important;
    }
  }

  &.light-theme li > a {
    background-color: transparentize($themeLightColorBg, 0.5);
    color: $themeLightColorFg;

    @include hover() {
      background-color: transparentize($themeLightColorBg, 0.25);
    }
  }

  &.transparent-theme li > a {
    background-color: transparentize($themeTransColorBgButton, 0.5);
    color: $themeTransColorFg;

    @include hover() {
      background-color: darken(opacify($themeTransColorBgButton, 0.2), 30%);
    }
  }

  &.dark-theme li > a {
    background-color: $themeDarkColorBg;
    color: $themeDarkColorFg;

    @include hover() {
      background-color: lighten($themeDarkColorBg, 5%);
    }
  }

  &.blue-theme li > a {
    background-color: $themeBlueColorBg;
    color: $themeBlueColorFg;

    @include hover() {
      background-color: lighten($themeBlueColorBg, 20%);
    }
  }

  &.red-theme li > a {
    background-color: $themeRedColorBg;
    color: $themeRedColorFg;

    @include hover() {
      background-color: lighten($themeRedColorBg, 20%);
    }
  }
}


//
// dashboard tooltip
//
.dashboard {

  .tooltip {
    position: absolute;
    top: 102%;
    top: calc(100% + 1px);
    right: 0;
    color: inherit;
    background-color: inherit;
    min-width: 205px;
    text-align: center;
    opacity: 0;
    z-index: -1;
    border-bottom-left-radius: 2px;

    @include ease-in-out(0.2s);

    &.show {
      z-index: 777;
      opacity: 100;
    }
  }

  &.light-theme .tooltip {
    background-color: transparentize($themeLightColorBg, 0.25);
  }
}

//
// button - navigation panel
//

.dashboard {

  &.light-theme .button-panel-navigation {
    // background-color: $themeDarkColorBg;
    // color: $themeDarkColorFg;
  }
}

//
// H Y P E R D R I V E   S T A T U S
//
.hyperdrive-status {
  opacity: 1;

  @include ease-in-out(0.3s);

  .dashboard.transparent-theme & {
    opacity: 0;
  }
}

.text-hyperdrive-offline {
  color: rgba(206, 134, 111, 0.75);

  .dashboard.dark-theme & {
    color: gray;
  }
}
.text-hyperdrive-powering-up {
  color: #e68e00;
}
.text-hyperdrive-engaged {
  color: #a728a3;
}
