
@import './vars.scss';
@import './mixins.scss';
@import './colors.scss';
@import './typography.scss';
@import './globals.scss';
@import './barrel-roll.scss';

// z-indexes
#section-main {  z-index: 2; }
#section-story { z-index: 1; }
#section-warp-speed { z-index: 1; }
