
$colorBgMain: #282c34;
$colorFgMain: #fefefe;

$colorBlueLight: #17a2b8;
$colorBlueDark: #0c5460;

$BREAKPOINT_MOBILE: 576px;
$BREAKPOINT_TABLET: 768px;
$BREAKPOINT_LAPTOP: 992px;
$BREAKPOINT_DESKTOP: 1200px;
